html {
  min-height: 100vh;
  /* height: 100dvh; */
  min-height: 100svh;
  display: flex;
  font-size: large;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

h1, h2, h4, h5 {
  font-family: Arial, Helvetica, sans-serif;
}
.div-puzzles h3 {
  font-weight: normal;
  border-bottom: 1px solid #a2a9b1
}
.div-puzzle {
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}
.div-puzzle h4 {
  margin: 0.5rem;
}
.div-puzzle > h4 > span {
  margin: 0.5rem 0;
}
.div-puzzle ul {
  margin-bottom: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding-left: 1.25rem;
}
.div-puzzle li {
}
.puzzle-ul-li-labeled {
  list-style-type: none;
  margin-left: -1.25rem;
}
.puzzle-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.puzzle-title-buttons {
  margin-left: auto;
}
.puzzle-title-buttons button {
  font-size: larger;
}


.puzzle-content {
  margin: 0;
}

.puzzle-type-compute {
  box-shadow: 0.25rem 0.25rem #1a85ff;
}
.text-type-compute {
  color: #1a85ff;
  font-weight: bold;
}
.puzzle-type-geometry {
  box-shadow: 0.25rem 0.25rem #117733;
}
.text-type-geometry {
  color: #117733;
  font-weight: bold;
}
.puzzle-type-logic {
  box-shadow: 0.25rem 0.25rem #882255;
}
.text-type-logic {
  color: #882255;
  font-weight: bold;
}
.puzzle-type-trick {
  box-shadow: 0.25rem 0.25rem #d55e00;
}
.text-type-trick {
  color: #d55e00;
  font-weight: bold;
}
.puzzle-type-unknown {
  box-shadow: 0.25rem 0.25rem #313131;
}
.text-type-unknown {
  color: #313131;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #37745B;
}
a:hover {
  text-decoration: underline;
}

.div-body {
  width: inherit;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
}

header {
  color: white;
  background-color: #37745B;
}
main {
  height: 100%;
  background-color: #f8fbff;
  line-height: 1.35;
}
footer {
  color: white;
  background-color: #217074;
  font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
  padding: 1rem 0.5rem;
}

header > div, main > div, footer > div {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.div-main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

header > div > h1 {
  margin: 0;
  /* font-size: 5rem; */
  text-align: center;
  white-space: nowrap;
}


.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 0.5rem;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.spread-end > *:last-child {
  margin-left: auto;
}
.spread-start > *:first-child {
  margin-right: auto;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.control-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: white;
  padding: 0.75rem 1rem;
}
.control-bar-special-wrap {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: end;
}
.check-radio-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-start {
  justify-content: start;
}

/* .mr-1 {
  margin-right: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: end;
} */


.round-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  color: gray;
  cursor: pointer;

  width: 2.5rem;
  height: 2.5rem;

  font-weight: 600;

  transition: all 100ms;
  touch-action: manipulation;
}
.round-button:hover,
.round-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: black;
}
.round-button:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: gray;
}


/*----START Wikipedia style table of content----*/
.toc {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  background-color: white;
  width: fit-content;
  padding: 1rem;
}
.toctitle {
  margin: 0;
  margin-bottom: 0.5rem;
}
.toc > ul {
  margin: 0;
  padding: 0;
}
.toc li > ul {
  padding-left: 1.5rem;
}
.toc li {
  list-style-type: none;
}
/*----END Wikipedia style table of content----*/


/*----START accordion stuff---*/
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  color: #1b7340;
  display: flex;
  padding: 1em;
  background: white;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  color: #1DA64A;
}

.tab-label::before {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 1.1s;
}

@media (min-width: 40em) {
  .tab-content {
    max-height: 0;
    visibility: hidden;
    padding: 0 1em;
    background: white;
    transition: all .7s;
    margin-left: 20px;
  }
}

@media not screen and (min-width: 40em) {
  .tab-content {
    max-height: 0;
    visibility: hidden;
    padding: 0 1em;
    background: white;
    transition: all .7s;
    margin-left: 2.5vw;
  }
}

.tab input[type=checkbox]:checked+label {
  color: #1DA64A;
}

.tab input[type=checkbox]:checked+label::before {
  transform: rotate(450deg);
}

.tab input[type=checkbox]:checked+label~.tab-content {
  max-height: 100vh;
  visibility: visible;
}

/*----END accordion stuff---*/



.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel a.active,
.accordion.active {
  color: #f1f1f1;
  background-color: unset;
}

